<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Katsudou</title>
  </head>
  <body>
    <h1>Welcome to Katsudou, the best online Japanese conjugator practice tool that has ever existed</h1><br>
    <a th:href="@{/verb}">Verb Practice</a><br>
    <a th:href="@{/adjective}">Adjective Practice</a><br>
    <a th:href="@{/counter}">Counter Practice (Coming soon)</a><br>
  </body>
</html>
