<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>Katsudou</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>
	<div class="cover">
    	<div class="pink-gradient">
			<nav class="knavbar container">
			            <div class="knav-logo">
			                  <a><img th:src="@{img/logo-sin-fondo.png}"></img></a>
			            </div>
			            <div class="knav-links">
			            	<ul>
			                	<li><a th:href="@{/verb}">Verbs</a></li>
			                    <li><a th:href="@{/adjective}">Adjectives</a></li>
			                    <li><a>Counters</a></li>     
			                </ul>
			            </div>
		    </nav>	
		
		  <div class="container main-panel">
                    
			<div class="main-info">
                 <h1>Welcome to <span>KATSUDOU<span></h1>
                 <p><span>Katsudou</span>, the best online Japanese conjugator practice tool that has ever existed</p>
                 <br><br><br>
                 <div class="d-flex justify-content-between mb-4 w-75">
          			<a class="kbtn kbtn-secondary" th:href="@{/verb}">Verbs</a>
          			<a class="kbtn kbtn-secondary" th:href="@{/adjective}">Adjectives</a>
				</div>
			</div>                    	
                    
		    
		    
		
		      </div>
		    </div>
		  </div>
	  </div>
	</div>
  <script th:src="@{js/bootstrap.bundle.js}"></script>
</body>

</html>
