<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <style id="stndz-style"></style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="https://unpkg.com/wanakana@4.0.2/umd/wanakana.min.js"></script>
    <script th:src="@{/js/answersUtility.js}"></script>
    <meta charset="utf-8">
    <title>Katsudou - Verb Conjugation</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
  </head>
  <body>
    <body class="bg-light">
      <div class="container-fluid">

          <!-- Page Title -->
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Verb Conjugation Practice</h1>
          </div>
        </div>
          <!-- /Page Title -->
    <form class="text-center" onsubmit="checkAnswer()" method="get" id="answerForm" autocomplete="off">

      <!-- Verbo a conjugar y todas las especificaciones -->

      <!-- Opciones -->
      <div class="row">
        <div class="" id="verbConjugation"></div>
        <div class="" id="furigana"></div>
        <div class="verbo-div" id="verb"></div>
        <div class="" id="verbType"></div>
        <div class="" id="english"></div>
        <div class="" id="score">
          <p><span style="color:green">0</span>/<span style="color:red">0</span>/0%</p>
        </div>
        <div class="input-verb">
          <input type="text" id="answer" oninput="toKana(this)" class="form-control"><br>
        </div>
        <div class="" id="correctAnswer"></div>
      </div>
      <!-- /Verbo a conjugar y todas las especificaciones -->
      <div class="row">
        <div class="row">
          <div class="col-md-4 options">
            <fieldset>
              <legend>Settings</legend>
              <div class="form-check form-switch">
                <input type="checkbox" name="" value="furigana" onchange="changeSettings(this)" class="form-check-input">
                Hide furigana
              </div>
              <div class="form-check form-switch">
                <input type="checkbox" name="" value="verbType" onchange="changeSettings(this)" class="form-check-input">
                Hide type
              </div>
              <div class="form-check form-switch">
                <input type="checkbox" name="" value="english" onchange="changeSettings(this)" class="form-check-input">
                Hide English
              </div>
              <div class="form-check form-switch">
                <input type="checkbox" name="" value="score" onchange="changeSettings(this)" class="form-check-input">
                Hide score
              </div>
            </fieldset>
          </div>
          <div class="col-md-4 options"></div>
          <div class="col-md-4 options">
            <fieldset>
              <legend>Filters</legend>
              <div class="form-check form-switch">
                <input type="checkbox" name="" value="ICHIDAN" class="typeFilters form-check-input">
                Ichidan
              </div>
              <div class="form-check form-switch">
                <input type="checkbox" name="" value="GODAN" class="typeFilters form-check-input">
                Godan
              </div>
              <div class="form-check form-switch">
                <input type="checkbox" name="" value="IRREGULAR" class="typeFilters form-check-input">
                Irregular
              </div>
              <div class="form-check form-switch">
                <input type="checkbox" name="" id="noExpression" class="form-check-input">
                No expressions
              </div>
              <div class="form-check form-switch">
                <input type="checkbox" name="" id="onlyCommon" class="form-check-input">
                &nbsp;Only Common
              </div>
            </fieldset>
          </div>
		<legend>Conjugations</legend>
          <fieldset>
            <div class="gtc-3">
            	<div th:each="classification, status: ${verbClassifications}">
              
                <div class="options">
                  <fieldset>
                    <legend><span th:text="${classification.key}">text</span></legend>
                    <div class="form-check form-switch" th:each="conjugation: ${classification.value}">
                      <input type="checkbox" th:value="${conjugation.id}" class="conjugations form-check-input">
                      <span th:text="${conjugation.conjugationName}">text</span><br>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>

          </fieldset>
        </form>

        <div class="d-flex justify-content-center mb-4">
          <a th:href="@{/}"><p class="btn btn-outline-primary">Return to menu</p></a>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
  window.onload = (event) => {
    getNewVerb();
  }

  document.getElementById('answerForm').addEventListener('submit', function(e) {
    e.preventDefault();
  }, false);

  var verb;
  var correctAnswer = 0;
  var incorrectAnswer = 0;

  async function checkAnswer() {
    var answer = document.getElementById("answer");
    if (wanakana.isKana(answer.value)) {
      answer.disabled = true;
      if(answer.value == verb.conjugatedVerb) {
        document.getElementById("correctAnswer").innerHTML = "<p style='color:green'>Correct!</p>";
        correctAnswer++;
      } else {
        document.getElementById("correctAnswer").innerHTML =
        "<p style='color:red'>Incorrect!<br>The answer was: " + verb.conjugatedVerb + "</p>";
        incorrectAnswer++;
      }
      var percentage = correctAnswer * 100 / (correctAnswer + incorrectAnswer);
      document.getElementById("score").innerHTML = "<p><span style='color:green'>" + correctAnswer
      + "</span>/<span style='color:red'>" + incorrectAnswer + "</span>/"
      + percentage.toFixed(2) + "%</p>";
      await waitForEnter();
      answer.value = "";
      document.getElementById("correctAnswer").innerHTML = "";
      answer.disabled = false;
      getNewVerb();
      document.getElementById("answer").focus();
      document.getElementById("answer").select();
    }
  }
  function getNewVerb() {
    var selectedConj = document.getElementsByClassName("conjugations");
    var conjugations = "";
    for(const conjugation of selectedConj) {
      if(conjugation.checked)
        conjugations = conjugations.concat(conjugation.value,":");
    };
    var selectedFilters = document.getElementsByClassName("typeFilters");
    var filters = "";
    for(const filter of selectedFilters) {
      if(filter.checked)
        filters = filters.concat(filter.value,":");
    };
    let settings = {
      conjugations: conjugations.substring(0,conjugations.length-1),
      typeFilters: filters.substring(0,filters.length-1),
      onlyCommon: document.getElementById("onlyCommon").checked,
      noExpression: document.getElementById("noExpression").cheked
    }
    fetch("/verb/conjugation", {
    method: 'POST',
    headers: { 'Content-Type': 'application/json'},
    body: JSON.stringify(settings)
    })
    .then(response => {
      if(response.ok) {
        return response.text();
      }
    })
    .then(data => {
      verb = JSON.parse(data);
      verb.conjugatedVerb = wanakana.toKana(verb.conjugatedVerb);
      if (verb.word == verb.furigana)
        document.getElementById("furigana").innerText = "";
      else
        document.getElementById("furigana").innerText = verb.furigana;
      document.getElementById("verb").innerText = verb.word;
      document.getElementById("verbType").innerText = verb.type;
      document.getElementById("verbConjugation").innerText = verb.conjugation;
      var english = "";
      verb.meaning.forEach(x => english = english.concat(x + ", "));
      document.getElementById("english").innerText = english.substring(0,english.length-2);
    })
    .catch(error => {
      alert("no jaló f: " + error);
    });
  }
  </script>
  </body>
</html>
